{% extends 'base.html' %}

{% block content %}
    
    <h5>create an article</h5>
    
    {% if not created %}
    <div style="margin-top:30px">
        <form method="post">
            {% csrf_token %}
            <div>
            <input type="text" name="title" placeholder="title">
                </div>
            <div>
            <textarea name="content" placeholder="content"></textarea>
                </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% else %}
        <p>Your article was created</p>
        <a href="/articles/{{ article_object.id }}">{{ article_object.title }} - {{ article_object.content }}</a>
    {% endif %}

{% endblock %}